html
{
  position: relative;
    min-height: 100%;
}

body
{
   margin-bottom: 60px;
}

.blue
{
  background-color: #33b5e5;
  color:#fff;
}

.blue a
{
  color:#fff;
}

.footer-copyright
{
  background-color: #0099CC;
  color: #6c757d;
}

.footer-copyright a
{
  color: #fff;
}

#footer-con
{
  border-right: 1px solid #4285F4;
}

 footer
{
  position: relative;
  bottom: 0;
}
/*-----------------------------------------*/
/* Registration Form (Register.php) */
#frm_container
{
  padding: 3%;
  background-color: #e3f2fd;
  width: 100%;
}


#frmreg
{
  /* padding:10px; */
  background-color: #bbdefb;
  width: 70%;
  padding:1%;
}

/*-----------------------------------------*/
/* Login Form (includes/navbar.php) */
